<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Salesforce Knowledge Lightning Out Demo 
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="stylesheet" type="text/css" href="css/combined.css">
  </head>
  <body>

    <div class="main-container">
      <div class="menu">
        <img src="img/menu.png" width="200">
      </div>
      <div class="right-section">
        <div class="top-nav">
            <img src="img/nav.png" height="52">
          </div>
        <div class="content">
          <div id="lexcontainer">
          </div>
        </div>
      </div>
    </div>
  
  </body>
  <script src="https://ampfs--poccontac2.lightning.force.com/lightning/lightning.out.js"></script>
  <!-- <script src="https://poccontac2-ampfs--poccontac2.cs116.force.com/s/lightning/lightning.out.js"></script> -->
  <script> 

    $Lightning.use("c:ContactUsOut", function() {
      $Lightning.createComponent("c:ContactUsOutC", {}, "lexcontainer"); 
    }, "https://poccontac2-ampfs--poccontac2.cs116.force.com/k");

  </script>
</html>