<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Salesforce Lightning Out Demo 
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  </head>
  <body>
    <h1>Tom's Salesforce Lightning Out Demos</h1>

    <div>
      <ul>
        <li>
          <a href="knowledge.html">Knowledge Lightning Out Demo</a>
        </li>
        <li>
          <a href="flow.html">Flow Lightning Out Demo</a>
        </li>
        <li>
          <a href="chat.html">Live Agent Chat Demo</a>
        </li>
      </ul>
    </div>
         
  </body>
</html>